/* CSS reset */

body{
    padding: 5px;
    margin: 0px;
    background-image: url('pexels-leon-ardho-1552242.jpg');
    background-repeat: no-repeat;
    background-size: 100vw, 90vh;
    position: relative;
    height: 1100px;
    color: white;
    font-family: 'Inter', sans-serif;
}
h1{
    color: bisque;
}
.left{
    color: white;
    display: inline-block;
    position: absolute;
    left: 19px;
    background-color: black;
}
.mid{
    color: white;
    display: inline-block;
    position: absolute;
    left: 30%;
}
.right{
    top: 15px;
    display: inline-block;
    right: 60px;
    position: absolute;
}
.navbar{
    list-style: none;
}
ul li{
    display: inline-block;
    padding: 5px 30px; 
    background-color: black;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover{
    color: goldenrod;
}
.btn{
    cursor: pointer;
    padding: 8px;
    margin: 0px;
    border: 0px solid white;
    font-size: medium;
    border-radius: 10px;
}
.btn:hover{
    background-color: gray;
    color: white;
}
.left{
    position: absolute;
    left: 40px;
    top: 10px;
}
#idgym{
    cursor: pointer;
}
.container{
    padding: 8px;
    height: 350px;
    margin: 10px;
    width: 420px;
    border-radius: 10px;
    /* border: 3px solid white; */
    top: 15vh;
    right: 10px;
    position: absolute;
}
.form-group input{
    position: relative;
    width: 400px;
    padding: 7px;
    border: 1px solid gray;
    margin: 3px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(255, 251, 245);
    
}
#idbtn{
    position: absolute;
    right: 30px;
    margin: 8px;
    width: 120px;
    height: 30px;
    font-size: larger;
    background-color: antiquewhite;
    border-radius: 5px;
}
#idbtn:hover{
    cursor: pointer;
    background-color: rgb(195, 252, 233);
    border-radius: 5px;
    padding: 0px;
    border: 0px solid gray;
    
}
.transform{
    display: inline-block;
    position: absolute;
    top: 17vh;
    left: 27vw;
    height: 100vh;
    width: 42vw;
    
    
}
.transform h1{
    color: aquamarine;
   font-size: 50px;
   text-align: center;

}
.transform h2{
    color: rgb(131, 236, 61);
    font-size: 40px;
    text-align: center;
}
h4{
    line-height: 45px;
    font-size: 30px;
    margin-top: 20vh;
    margin-left: 40px;
    color: rgb(250, 199, 106);
}
#coloring{
    color: rgb(131, 236, 61);
    
}
.btnknow{
    padding: 10px;
    margin-left: 500px;
    font-size: larger;
    border-radius: 5px;
    cursor: pointer;
}
.btnknow:hover{
    background-color: rgb(248, 209, 135);
    
}