<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}Base{% endblock %}</title>
</head>

<body>
    <nav class="flex flex-row space-x-4 justify-around pt-[1vh] bg-green-50 pl-[5vw] h-[5vh]">
        <div class="flex flex-row space-x-5">
            <p>About Us</p>
            <p>Contact Us</p>
        </div>
        <div class="flex flex-row space-x-8 h-[5vh] px-[3vw]">
            <a href="/login">Login</a>
            <a href="/sign-up"> Sign Up</a>
            <a href="/logout">Logout</a>
            <a href="/">Home</a>
        </div>
    </nav>
    <div>
        {% block content %} {%endblock%}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>
</body>

</html>